body {
    margin: 0;
    padding: 0;
}

#popup-container {
    width: 300px;
    padding: 20px;
    background-color: #2c3e50;
    border-radius: 0px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: center;
    border: none; /* Remove border */
}

.header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center elements horizontally */
    margin-bottom: 20px;
}

.header img {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

h1 {
    font-size: 2em;
    margin: 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: left; /* Center elements left */
    margin-bottom: 15px;
    margin-left: 20px; /* Adjusted margin */
}

.switch {
    position: relative;
    display: inline-block;
    margin-left: 10px; /* Adjusted margin */
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 50px;
    height: 28px;
    background-color: #757575;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 14px; /* Adjusted to half of the height */
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 28px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle-label {
    color: #fff;
    font-size: 1.2em;
    margin-left: 10px; /* Adjusted margin */
}

.text-link {
    color: white;
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.text-link:hover {
    text-decoration: underline;
}
